<div class="container-fluid row full-height index-container" ng-controller="MainCtrl">
    <div class="col-md-3 user-panel full-height" ng-include="'/app/layout/userinfo.tpl.html'"></div>
    <div class="col-md-9 full-height articles-container">
        <div class="row filter-list col-md-7">
            <div class=" col-md-8">
                <button type="button" class="btn btn-primary">热门</button>
                <button type="button" class="btn btn-success">推荐</button>
                <button type="button" class="btn btn-info" ng-click="changeTemplate(templateList.CATEGORYS)">分类</button>
                <button type="button" class="btn btn-warning" ng-click="changeTemplate(templateList.TAGS)">标签</button>
            </div>
            <div class="col-md-3">
                <div class="input-group ">
                    <input type="search" class="form-control" name="search">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
        <div class="full-height row col-md-12 " ng-include="currentTemplate">

        </div>


    </div>
</div>

