<ul class="article-list col-md-10 list-unstyled">
    <li ng-repeat="article in articles">
        <div>
            <p><a href="javascript:void(0)">娜娜</a> <span>2016-5-12</span></p>
            <h4 class="font-weight "><strong>文章标题</strong></h4>
            <!--<h6>文章简介，介绍12咯123就2类库就2咯就立刻2级123了</h6>-->
            <p>
                <span class="readingNum">阅读:333</span>
                <span class="readingNum">评论:333</span>
                <span class="readingNum">喜欢:333</span>
            </p>
        </div>
    </li>
</ul>