<div class="container-fluid row full-height index-container" ng-controller="MainCtrl">
    <div class="col-md-3 user-panel full-height" ng-include="'/app/layout/userinfo.tpl.html'"></div>
    <div class="col-md-9 full-height articles-container">
        <div class="row filter-list col-md-7">
            <div class="col-md-8">
                <button ng-repeat="filter in filters" type="button" class="btn "
                        ng-class="{true: 'btn-info', false: 'btn-default'}[activeFilter == $index]"
                        ng-click="filter.handler($index)">{{filter.title}}
                </button>
            </div>
            <div class="col-md-3">
                <div class="input-group ">
                    <input type="search" class="form-control" name="search">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
        <div class="full-height row col-md-12 " ng-include="currentTemplate">

        </div>


    </div>
</div>

