<div class="container" ng-controller="ArticleCtrl">
    <a href="#/index" class="btn home-btn"></a>
    <div class="article-container">
        <div class="author-info">
            <a href="#/index" class="avatar"><img src="assets/images/dog.jpg" alt=""></a>
            <span class="author-name">何旭娜</span>
            <span>2014.10.25</span>
            <p class="auth-message">我是一个小学教师，我是一个小学教师，。我是一个小学教师，我是一个小学教师，我是一个小学教师，我是一个小学教师，</p>
        </div>
        <div class="article-content">
            <h1 class="title">不爱的爱情，永远不会变坏</h1>
            <div class="meta-top">
                <span>字数123</span>
                <span>评论22</span>
                <span>阅读12</span>
                <span>喜欢111</span>
            </div>
            <div class="article-detail">
                有句话比较令人讨厌：不爱的爱情，永远不会变坏。
                所以，我们调情，暧昧，却永远不要相爱。
                但不得不承认，我们可能都有过暧昧的经历，这一切都在电影中呈现出来了。电影中的一些配乐让人听完，内心充满暗涌。
                今天介绍的音乐涉及到不少乐器：大小提琴、手风琴、口琴、萨克斯等，风格为：古典、探戈、爵士、舞曲等。
                这些歌告诉我们：恰到好处的暧昧才是情调。（如果想听歌，可前往落网微信“luoofm”查看原文）
            </div>
        </div>
        <div></div>
    </div>
</div>

