<div class="container" ng-controller="ArticleCtrl">
    <a href="#/index" class="btn home-btn"></a>
    <div class="article-container">
        <div class="author-info">
            <a href="#/index" class="avatar"><img src="assets/images/dog.jpg" alt=""></a>
            <span class="author-name">何旭娜</span>
            <span>2014.10.25</span>
            <p class="auth-message">我是一个小学教师，我是一个小学教师，。我是一个小学教师，我是一个小学教师，我是一个小学教师，我是一个小学教师，</p>
        </div>
        <div class="article-content">
            <h1 class="title">{{article.title}}</h1>
            <div class="meta-top">
                <span>字数{{1}}</span>
                <span>评论{{article.comment.length}}</span>
                <span>阅读{{article.readingQuantity}}</span>
                <span>喜欢{{article.favor}}</span>
            </div>
            <div class="article-detail" ng-bind-html="article.content">

            </div>
        </div>
        <div></div>
    </div>
</div>

